{% extends 'base/main.html' %}
{% load pagination_tags %}

{% block document_ready %}
    $("#id_date_to, #id_date_from").datepicker({showOn: 'both', buttonImage: '/images/calendar.gif', buttonImageOnly: true, dateFormat: 'mm/dd/yy'});
{% endblock %}

{% block content %}
<table>
<tr>
    <th>Key</th>
    <th>Weight</th>
    <th>Action</th>
</tr>
{% for m in metrics %}
<tr>
    <td>{{ m.key }}</td>
    <td>{{ m.weight }}</td>
    <td><a href="{% url network_admin_scoring_delete m.id %}" class="AddProgram2">Delete</a></td>
</tr>
{% endfor %}
</table>
<hr/>
<h2>Add a new Metric</h2>
<form action="#" method="post">
    {{ form }}
    <input type="submit" value="Add Metric" class="AddProgram2"/>
</form>
{% endblock %}
