.welcomeHdrCtn { border-bottom: 1px solid #B5B1B0;height:40px;margin:20px 0 0 50px;width:915px; }
.welcomeECtn { margin:20px 0 0 50px; }
.welcomeCtn { border:1px solid #CCCCCC;height:450px;float:left;padding:10px 10px;width:400px; }
.welcomeHdrs { font-size:13px;font-weight:bold;margin:0 0 0 5px; }
.midSpacer { float:left;height:10px;width:70px; }