<html>
<head>
{% block css %}
<link href="/css/atrinsic.css" rel="stylesheet" type="text/css" media="all"/>
{%endblock%}
</head>
<body>
{% block content %}
<div style="width:90%; margin:auto;"><p>
At Atrinsic, we believe a holistic approach-encompassing systematic prevention, detection, and rapid response-is most effective at defending an advertiser's brand on multiple online fronts. That's why we created the Atrinsic Brand Ambassador Platform: a modular, customizable, and seamlessly integrated suite of hosted and Advisory Services enabling each organization to mount an optimal defense against online threats to its brand.<br />
<br />
The Platform provides an unsurpassed level of visibility and actionable intelligence enabling stakeholders to prevent and defend against online brand abuse.
</p>
</div>
</body>
{% endblock %}
</html>