<table border="1">	
	<tr>
        <th>Ticker</th>
        <th>Company Name</a></th>
        <th>Vertical</th>
        <th>State</th>
        <th>URL</th>
        <th>Rating</th>
        <th>Force</th>
	</tr>	
	
	{% for p in groups.publishers.all %}	
	<tr>
        <td>{{ p.ticker }}</td>
        <td>{{ p.name }}</td>
        <td>{{ p.vertical }}</td>
        <td>{{ p.state }}</td>
        <td>{{ p.website_set.all.0 }}</td>
        <td>{{ p.get_network_rating }}</td>
        <td>{{ p.force }}</td>
	</tr>
	{% endfor %}
	
	
	<tr><td colspan="7">
	{% if not groups.publishers.all %}
                No members of this group
    {% else %}
        {{ groups.publishers.all|length }} results
    {% endif %}
    </td></tr>
</table>


