{% extends 'notlogged/Template.html' %}

{% block content %}
        <!-- NEW CSS -->
        <div id="interior-content">
        	<div id="top-badge"><a href="#"><img src="/images/top-badge.png" width="940" height="120" /></a></div><!-- top-badge -->
            <div id="left-badge"></div><!-- left-badge -->
            
            <div id="page-content">
            <div id="page-content-top"></div>
            
            
            	
                
                
                <img class="ttl" src="/images/ttl-ad-1.png" width="660" height="25" />
                <p>The Atrinsic Affiliate Network is dedicated to connecting you with relevant and top-tier publishers, while at the same time standing up for your brand and taking full accountability for results. We are in business to increase your market share by helping you acquire more customers, more cost-efficiently – and to provide the highest level of brand protection. Our network offers complete transparency and zero-tolerance for publisher violations.</p>
                
                <img class="ttl" src="/images/ttl-ad-2.png" width="660" height="25" />
                <p>Affiliate marketing has been a well-known, trusted online channel for advertisers for over a decade. Because it is efficient, targeted and performance-based, it has become widely adopted providing greater, more sophisticated customer generation opportunities for advertisers. But with that evolution, new challenges have arisen, such as brand defamation and abuse, accurate multi-channel revenue attribution, and appropriate publisher valuation.</p>
                
                <img class="ttl" src="/images/ttl-ad-3.png" width="660" height="25" />
                <p>At Atrinsic, we are well-equipped to meet these challenges head on. Our team's DNA is search engine and affiliate marketing, supported by the industry's best technology and business intelligence, which means:</p>
                <ul>
                    <li>We have the <span class="bld">depth of experience</span> and the <span class="bld">data tools to correctly assess<br />a publisher's value</span></li>
                    <li>We have the <span class="bld">technology</span> to ensure that <span class="bld">sales are correctly attributed<br />across multiple marketing channels</span></li>
                    <li>We have the <span class="bld">proprietary brand protection</span> system to <span class="bld">prevent violations,<br />cannibalization and fraudulent activity</span></li>
                </ul>
                
                <img class="ttl" src="/images/ttl-ad-4.png" width="660" height="25" />
                <p>The Atrinsic Affiliate Network team achieves measurable results for advertisers – more customers, more cost-effectively – and maintains the strongest compliance in the space.  We are the only network with roots in search engine marketing, as well as an in-house business intelligence team that enables our advertisers to recruit publishers outside our network and identify competitor marketing initiatives – all while under the guard of Atrinsic's 'brandlock' brand protection platform. </p>
                
                
                
                
                
                
                
                
                
                
                
            <div class="clearfloat"></div>
            <div id="page-content-bottom"></div>
            </div><!--page-content -->
        
        
        <div class="clearfloat"></div>
        </div><!-- interior-content -->
        <div id="interior-footer">
        	© 2010 Atrinsic.  All Rights Reserved.
        </div><!-- interior-footer -->
        <!-- END NEW CSS -->
    </div><!-- content -->
    

	
</div><!-- top -->
<div id="bottom">
{% endblock %}