{% extends 'notlogged/Template.html' %}

{% block content %}
        <!-- NEW CSS -->
        <div id="interior-content">
        	<div id="top-badge"><a href="#"><img src="/images/top-badge.png" width="940" height="120" /></a></div><!-- top-badge -->
            <div id="left-badge"></div><!-- left-badge -->
            
            <div id="page-content">
            <div id="page-content-top"></div>
            
            
            	
                
                <img class="ttl" src="/images/ttl-ag-1.png" width="660" height="25" />
                <p>As a fully operating and high-touch interactive agency, we understand what it takes to deliver in the agency/client relationship – and we put this knowledge into action in our Atrinsic Affiliate Network solution for Agencies and Outsourced Program Management teams. We know the tools you need to successfully – and easily - manage your accounts, and we offer a suite of customizable solutions to fit both your client and your Agency/OPM needs. Deployed across our state-of-the-art technology platform, our Agency/OPM solution streamlines tools and processes for all your accounts with one-step creative updates, a reporting API and a universal login for all your accounts.</p>
                <img class="ttl" src="/images/ttl-ag-2.png" width="660" height="25" />
                <p>The Atrinsic Affiliate Network team and technology platform makes it easy for agencies and outsourced program management teams to manage and optimize their clients' performance.</p>
                <img class="ttl" src="/images/ttl-ag-3.png" width="660" height="25" />
                
                <p>Our team's DNA is search engine and affiliate marketing, supported by the industry's best technology and business intelligence. Our comprehensive program is designed for Agency/OPM ease-of-use and includes:</p>
                <div id="screenshot"><img src="/images/ag-screen-thumb.png" width="320" height="252" /></div>
                <ul>
                    <li>One login to <span class="bld">manage all your accounts</span></li>
                    <li>An <span class="bld">API</span> for simple reporting solutions</li>
                    <li><span class="bld">Email targeting</span> and scheduling tools to simplify publisher activation campaigns</li>
                    <li><span class="bld">Brand protection</span> technology to directly manage violations from within the network interface</li>
                    <li><span class="bld">Preferred pricing</span></li>
                    <li>Dedicated <span class="bld">network managers</span></li>
                </ul>
                
                
            <div class="clearfloat"></div>
            <div id="page-content-bottom"></div>
            </div><!--page-content -->
        
        
        <div class="clearfloat"></div>
        </div><!-- interior-content -->
        <div id="interior-footer">
        	© 2010 Atrinsic.  All Rights Reserved.
        </div><!-- interior-footer -->
        <!-- END NEW CSS -->
    </div><!-- content -->
    

	
</div><!-- top -->
<div id="bottom">
{% endblock %}