{% extends 'notlogged/Template.html' %}


{% block content %}
        <div id="flash">
        <script language="javascript">
	if (AC_FL_RunContent == 0) {
		alert("This page requires AC_RunActiveContent.js.");
	} else {
		AC_FL_RunContent(
			'codebase', 'http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0',
			'width', '955',
			'height', '497',
			'src', '/images/aan_ani_FIN',
			'quality', 'high',
			'pluginspage', 'http://www.macromedia.com/go/getflashplayer',
			'align', 'middle',
			'play', 'true',
			'loop', 'true',
			'scale', 'showall',
			'wmode', 'window',
			'devicefont', 'false',
			'id', 'aan_ani_FIN',
			'bgcolor', '#ffffff',
			'name', 'aan_ani_FIN',
			'menu', 'true',
			'allowFullScreen', 'false',
			'allowScriptAccess','sameDomain',
			'movie', '/images/aan_ani_FIN',
			'salign', ''
			); //end AC code
	}
</script>

        </div><!-- flash -->
        <div id="sections">
        	<div id="sections-ad">
            	<div class="fl"><img src="/images/sections-ad.png" width="120" height="25" /></div>
                <div class="fl"><a href="#"><img src="/images/sections-ad-join.png" width="85" height="25" /></a></div>
                <div class="clearfloat"></div>
                <div class="section-copy"><a href="#">The Atrinsic Affiliate network is a full-service solution... &nbsp;&nbsp;<img src="/images/arrow.gif" width="7" height="8" /></a></div>
            
            </div>
            <div id="sections-af">
            	<div class="fl"><img src="/images/sections-af.png" width="99" height="25" /></div>
                <div class="fl"><a href="#"><img src="/images/sections-af-join.png" width="80" height="25" /></a></div>
                <div class="clearfloat"></div>
                <div class="section-copy"><a href="#">Real-time custom dashboards, dedicated publisher... &nbsp;&nbsp;<img src="/images/arrow.gif" width="7" height="8" /></a></div>
            
            </div>
            <div id="sections-ag">
	            <div class="fl"><img src="/images/sections-ag.png" width="109" height="25" /></div>
                <div class="fl"><a href="#"><img src="/images/sections-ag-join.png" width="80" height="25" /></a></div>
                <div class="clearfloat"></div>
                <div class="section-copy"><a href="#">With agency and outsourced program managemen... &nbsp;&nbsp;<img src="/images/arrow.gif" width="7" height="8" /></a></div>
            </div>
            <div class="clearfloat"></div>
            

            
            
            
            
        </div><!-- sections -->
        <div id="lastcontent">
        	<div id="lastcontent1">
            	<h2>&nbsp;</h2>
                <p>Named a Top 25 U.S. Search Marketing Agency by<br />the Advertising Age 2010 Agency Report.</p>
            </div>
            <div id="lastcontent2">
            	<h2>ad:tech New York 2010</h2>
				<p>Wed. November 3 to Thu. November 4, 2010<br />Location: Javits Convention Center</p>
            </div>
            <div id="lastcontent3"></div>
            <div class="clearfloat"></div>
        </div><!-- sections -->
        <div id="social-tab">
        	<a href="#" class="fl"><img src="/images/sm-t.png" width="52" height="50" /></a>
            <a href="#" class="fl"><img src="/images/sm-f.png" width="55" height="50" /></a>
            <a href="#" class="fl"><img src="/images/sm-in.png" width="50" height="50" /></a>
	        <a href="#" class="fl"><img src="/images/sm-w.png" width="50" height="50" /></a>
        </div><!-- social-tab -->

    </div><!-- content -->
    

	
</div><!-- top -->
<div id="middle">
	<div id="middle-inside">
        <div id="about1">
            <p><span class="bld blue itl">Atrinsic Interactive is one of the<br />
            Top US Search Agencies and<br />
            Affiliate Networks.</span></p>
        	<span class="about">
            <ul>
                <li>We are smart, <span class="bld blue">passionate people</span> who love what we do. </li>
                
                <li>We are <span class="bld blue">instinctive</span> and 
                <span class="bld blue">experienced marketers</span> who 
                understand consumer behavior — we are NOT numbers crunchers working a spreadsheet.</li>
                
                <li>We are a <span class="bld blue">team</span> with the <span class="bld blue">marketing depth</span> and breadth to always put 
                the right <span class="bld blue">talent</span> behind the right 
                products and services.</li>
            </ul>
            </span>
        </div><!-- about1 -->
        <div id="about2">
            <p>We bring more quality customers to your brand through smart search management, precision-targeted affiliate marketing, and performance-based display and social media.</p>
            <p>We fight for your brand every day — and we win — which is why the world’s top brands and advertisers are our clients.</p>
        </div><!-- about2 -->
        <div id="about3">
            <span class="about">
            <ul>
                <li>We do it <span class="bld blue">SMARTER — </span><br />
                turning consumer behavior 
                data into actionable intelligence</li>
                
                <li>We do it more <span class="bld blue">EFFICIENTLY —</span><br />
                using the right media channels 
                to target your highest value 
                customers at the lowest cost</li>
                
                <li>We do it with <span class="bld blue">VIGILANCE —</span><br />
                protecting your brand from 
                cannibalization and piracy</li>
                
                <li>We do it with <span class="bld blue">INTEGRATION —</span><br />
                making sure all channels 
                work together</li>
                
                <li>We do it with strict <br />
                <span class="bld blue">ACCOUNTABILITY —</span><br />
                designing our campaigns to 
                meet your specific metrics</li>
            </ul>
            </span>
        </div><!-- about3 -->
        <div id="about4">
            <span class="about">
            <ul>
                <li><span class="bld blue">Retailers, brands, advertisers:</span>
                small to large, growing to 
                booming, all top quality.</li>
                
                <li>From <span class="bld blue">Fortune 1000 companies</span> 
                to <span class="bld blue">direct marketers</span>, we help 
                advertisers acquire new 
                customers, grow market share 
                and boost their brand identity.</li>
            </ul>
            </span>

            <p>&nbsp;</p>
            <div id="about4sub" class="aboutsub">
                <ul>            
                    <li>Acquire more customers, 
                    more efficiently</li>
                    
                    <li>Increase your market share</li>
                    
                    <li>Stand guard over your brand</li> 
                    
                    <li>Be accountable for results</li>
                </ul>
            </div><!-- about4sub -->
        
        </div><!-- about4 -->
        <div class="clearfloat"></div>
	</div><!-- middle-inside -->
    
</div><!-- mid -->
<div id="bottom">
<div id="actionbar">
	<div style="margin: 0 auto; width:590px; padding:0 0 0 110px;">            
        <div class="fl"><img src="/images/actionbar-about.png" width="160" height="24" /></div>
        <div class="slidebtn-wrap"><a href="#" class="btn-slide">CLICK TO SHOW</a></div>
    </div>
        
</div><!-- actionbar -->
{% endblock %}