{% extends 'notlogged/Template.html' %}

{% block content %}
        <!-- NEW CSS -->
        <div id="interior-content">
        	<div id="top-badge"><a href="#"><img src="/images/top-badge.png" width="940" height="120" /></a></div><!-- top-badge -->
            <div id="left-badge"></div><!-- left-badge -->
            
            <div id="page-content">
            <div id="page-content-top"></div>
            	<img class="ttl" src="/images/ttl-pub-1.png" width="660" height="25" />
                <p>In today's evolving online market, advertiser relationships have never been more critical to publishers. The Atrinsic Affiliate Network understands this and is dedicated to providing publishers with profitable and effective advertiser relationships. In addition to ensuring the best advertiser match, we provide real-time custom dashboards, dedicated publisher-performance managers, and simple 3rd party pixel placement, as well as much, much more.</p>
                <img class="ttl" src="/images/ttl-pub-2.png" width="660" height="25" />
                <p>Publishers, or affiliates, have steadily evolved from providing simple links to advertiser web sites to operating as major and highly effective partners in an advertiser's marketing initiatives. The team at Atrinsic Affiliate Network understands the importance of publisher relationships with advertisers and we know how to activate – and optimize – those relationships. This, along with our depth of expertise, our technology and tools, and our ability to gather and analyze data ensures that those relationships are successful and profitable. </p>
                <img class="ttl" src="/images/ttl-pub-3.png" width="660" height="25" />
                
                <div id="screenshot"><img src="/images/pb-screen-thumb.jpg" width="320" height="252" /></div>
                
                <p>Our technology platform enables a seamless tie-in with common analytics tools, while our publisher performance-management team is available to help optimize your advertiser relationships.</p>
                
                <img class="ttl" src="/images/ttl-pub-4.png" width="225" height="25" />
                <p>Whether you choose to work with our retail advertisers, or one of our well-known lead generation partners, our technology platform tracks all your activity and provides you with an easy-to-use custom dashboard, as well as a reporting API for simple access to key statistics.</p>
            <div class="clearfloat"></div>
            <div id="page-content-bottom"></div>
            </div><!--page-content -->
        
        
        <div class="clearfloat"></div>
        </div><!-- interior-content -->
        <div id="interior-footer">
        	© 2010 Atrinsic.  All Rights Reserved.
        </div><!-- interior-footer -->
        <!-- END NEW CSS -->
    </div><!-- content -->
    

	
</div><!-- top -->
<div id="bottom">
{% endblock %}