<script type="text/javascript">
    initAjaxFormPost();
</script>

<div id="AjaxContent">
    <div class="ajaxLoading"></div>
	<br>
	<!--- errorlist --->
	<div style="margin-left:2em;padding-left:2em;">
	Thank you for submitting a request to begin receiving this Advertisers' data feed. Your request will be reviewed by your account manager and you will be contacted with further questions or information on testing your new feed.
	<br><br>
	<a href="{% url publisher_settings_feeds %}">Return to Data feeds</a><br><br>
	<a href="{% url publisher_dashboard %}">Return Home</a>
	</div>
</div>