<script type="text/javascript">
    initAjaxFormPost();
    $("#id_content").parent().parent().prepend("<div class='pixelDesc'></div>");
    var pbpixel= "Please enter your Kenshoo token id:\ne.g.: e73b9a9a-d144-4748-beb7-8b484c8e1174";
    $(".pixelDesc").text(pbpixel);
</script>

<div id="AjaxContent">
    <div class="ajaxLoading"></div>
    <form action="{% url publisher_settings_kenshoo_add %}" method="POST" class="MooseHead">
    	{{ form }}
    	<div class="clearfix"></div>
        <input type="submit" class="saveBtn" value=""/>
    </form>
</div>