{% extends 'base/AAN_Site_Template.html' %}

{% block css %}
	<link href="/css/AAN_Forms.css" rel="stylesheet" type="text/css" media="all"/>
	<link href="/css/AAN_Tablestyles.css" rel="stylesheet" type="text/css" media="all"/>
	<link href="/css/AAN_Publisher_Settings.css" rel="stylesheet" type="text/css" media="all"/>
{% endblock %}

{% block javascript %}
	<script language="javascript" type="text/javascript" src="/js/jquery.form.js"></script>
    <script language="javascript" type="text/javascript" src="/js/AAN_Confirmationbox.js"></script>
{% endblock %}

{% block document_ready %} 
    initAjaxLightBox();
    initConfirmationBox("Are you sure you want to delete this Website?");
{% endblock %}

{% block pageContent %}
<div class="pageContentHdr">Web Sites</div>
<div class="contentCtn whiteBG">  
    <div class="ajaxLoading"></div>
    <table class="primaryDisplayTable" cellspacing="0">
    	<tr>
    		<th>URL</th>
    		<th>Promotion Method</th>
    		<th>Vertical</th>
    		<th>Action</th>
    	</tr>
    	<tr class="graybar"><td colspan="4"><hr size="1"></td></tr>
    	{% for o in object_list %}
    	<tr{% cycle ' class="odd"' '' %}>
    		<td><a href="{{ o.url  }}">{{ o.url }}</a></td>
    		<td>{{ o.promo_method  }}</td>
    		<td>{{ o.vertical }}</td>
    		<td><div class="actionButt action_buttons">
    			<div class="report_action_tip"></div>
    			<a href="" id="{% url publisher_settings_websites_edit o.id %}" class="AjaxLightBox dSmallWide" name="Edit Web Site">Edit</a>
    			<a href="" id="{% url publisher_settings_websites_delete o.id %}" class="confirmDelete" name="Delete Web Site">Delete</a>
    		</div></td>
    	</tr>
    	{% endfor %}
        {% if not object_list %}
            <tr class="rowSpacer"><td colspan="5"></td></tr>
    	    <tr class="highlightRow">
                <td class="noResults" colspan="5">You have no Web sites.</td>
            </tr>
        {% endif %}
    	<tr class="graybar"><td colspan="4"><hr size="1"></td></tr>
    	<tr><td colspan="4"><div style="text-align:right;">
       			 <a href="" id="{% url publisher_settings_websites_add %}" class="addWebsiteBtn AjaxLightBox dSmallWide" name="Add Web site"></a>
    	</div></td></tr>
    </table>
</div>    
      
<div id="ajaxLightbox"></div>
{% endblock %}

