{% extends 'base/AAN_Signup_Template.html' %}

{% block css %}
	<link href="/css/AAN_Forms.css" rel="stylesheet" type="text/css" media="all"/>
	<link href="/css/jquery-ui-theme.css" rel="stylesheet" type="text/css" media="all"/>
{% endblock %}

{% block javascript %}
    <script language="javascript" type="text/javascript" src="/js/advertiser.signup.js"></script>
{% endblock %}

{% block document_ready %} 
    initStep2FormManipulation();
    $(".ReCaptchaField label").remove();
{% endblock %}

{% block pageContent %}
    <div class="appType">
        <h2>Advertiser Application</h2>
        <div>
            Signing up as an advertiser is quick and easy. Just complete the 3 steps <br>
            below and start taking advantage of all out network has to offer! 
        </div>
    </div>
    
    <div class="stepCtn">
        <div class="steps">
            <div class="step1Disabled"></div>       
            <div class="step2Current"></div>        
            <div class="step3Disabled"></div>           
        </div>
        <div class="clearfix"></div>
        <div class="pubSignupStepHdr">Site Details</div>
        <form action="" method="POST" class="MooseHead_Signup">
            <div class="contentCtn formsCtn formsCtnWider">
                <div class="primaryDisplayTableHdr">Marketing Details</div>
                    {{ form }}
            </div>
            <div class="contentCtn formsCtn formsCtnWider">
                <div class="primaryDisplayTableHdr">Email Marketing Details</div>
                    {{ form_email }}
            </div>
            <input type="submit" class="nextStepBtn alterMargin" value="">
        </form>
    </div>

{% endblock %}

