{% extends 'base/AAN_Signup_Template.html' %}

{% block css %}
	<link href="/css/AAN_Forms.css" rel="stylesheet" type="text/css" media="all"/>
{% endblock %}

{% block javascript %}
    <script language="javascript" type="text/javascript" src="/js/publisher.signup.js"></script>
{% endblock %}

{% block document_ready %} 
{% endblock %}

{% block pageContent %}
    <br>
    <div class="pubSignupStepHdr">Error</div>

    <div class="bBoundingBox">
        <div class="thankYouTxt">
		<p>Thank you for applying to the Atrinsic Affiliate Network.</p>

        <p>The link you are attempting to use appears to be invalid.</p>

        <p>• If you have a verified account and have lost your password, please click here. <a href="http://network.atrinsic.com">Network.Atrinsic</a>
            <br />• If you have performed the initial sign-up and are receiving this error message, please contact a publisher manager.<a href='mailto:publisherapplications@network.atrinsic.com'>Contact</a></p>

<p>Regards -<br />
Your Atrinsic Affiliate Network Team</p>

	</div>

{% endblock %}