{% extends 'base/AAN_Site_Template.html' %}


{% block css %}
    <link href="/css/linkTbl.css" rel="stylesheet" type="text/css" media="all"/>
	<link href="/css/AAN_Tablestyles.css" rel="stylesheet" type="text/css" media="all"/>
{%endblock%}

{% block javascript %} 
<script>
	$(".viewAccount").live("click",function(event){
		alert("A")
		event.preventDefault();
		var callUrl = $(this).attr("id");
		var dWidth = 450 
		var dHeight = 300
				
    	$.ajax({
			type: "GET",
			url: callUrl,
			dataType: "html",
			async: false,
			success: function(data){
				$("#dialog").html(data);				
				$("#dialog").dialog({bgiframe: true,	height: dHeight, width: dWidth,modal: true,draggable: false,resizable: false});
             	$("#dialog").bind('dialogclose', function(event, ui) {
					$("#dialog").dialog("destroy");
				});	
			}
		}); 
	
	});
</script>
{% endblock %}

{% block pageContent %}
<div class="pageContentHdr">Analytics</div>
	<div class="contentCtn whiteBG">          
		<div class="ajaxLoading"></div>
	    <table class="DisplayTableAsForm OrganizationSettings" cellpadding="0" cellspacing="0">
		    <tr>
		        <td>Email</td>
		        <td>Password</td>
		        <td>Status</td>
		    </tr>
			<tr class="graybar"><td colspan="5"><hr size="1"></td></tr>
		    <tr{% cycle ' class="odd"' '' %}>
		        <td><a href="" class="viewAccount" id="{%url advertiser_ga_accounts_view %}">{{ ga_user.email }}</a></td>
		        <td>{{ ga_user.password }}</td>
		        <td>
		            {% if ga_user.is_active %}
		                <strong>Active</strong>
		            {% else %}
		                In-Active
		            {% endif %}
		        </td>
		    </tr>
		</table>  
	</div>
<div style="display:none;" id="dialog">I'm in a dialog</div>
{% endblock %}